ul {
	list-style-type: none;
	margin: 0;
	margin-left: -60px;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	background-color: rgb(0, 0, 0);
}
li {
	float: left;
	margin-left: 50px;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li b {
	display: block;
	color: rgb(133, 124, 124);
	text-align: center;
	font-style: oblique;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	color: rgba(221, 147, 113, 0.836);
	font-style: italic;
	text-decoration: underline;
}
